<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Metaverse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class = "navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <!--name-->
            <a href="index.html" class="navbar-brand" >Metaverse</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle">
                <soan class="nabar-toggler-icon"></soan>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <!--menu-->
                <div class="navbar-nav me-auto">
                    <a class="nav-link active" arin-current="page" href="#">Product</a>
                </div>
                <!--ค้นหาข้อมูล-->
                <ol class="navbar-nav">
                    <form class="d-flex">
                        <input type="text" class="form-control" placeholder="ค้นหาข้อมูล">
                        <input type="submit" value="ค้นหา" class="btn btn-outline-dark">
                    </form>
                </ol>
            </div>
        </div>
    </nav>

    <!--icon-->
    <div class="text-center pt-5">
        <img src="/image/icon/user/Profile8-removebg-preview.png" class="rounded w-25" alt="...">
    </div>

    <!--data-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <p>name :</p>
                        <p>email :</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
